" START##setting for neobundle
set nocompatible
filetype plugin indent off
if has ('vim_starting')
  set runtimepath+=~/.vim/bundle/neobundle.vim/
  call neobundle#begin(expand('~/.vim/bundle/'))
endif

" Require:
NeoBundleFetch 'Shogo/neobundle.vim'

" Optional:
NeoBundle 'scrooloose/nerdtree'
NeoBundle 'Rip-Rip/clang_complete'
NeoBundle "Shougo/unite.vim"
NeoBundle "ctrlpvim/ctrlp.vim"
NeoBundle 'Shougo/vimproc', {
  \ 'build' : {
  \     'mac' : 'make -f make_mac.mak',
  \   },
  \ }

NeoBundle "kana/vim-operator-user"
NeoBundle "rhysd/vim-clang-format"

filetype plugin indent on
NeoBundleCheck
call neobundle#end()

" Normally we use vim-extensions. If you want true vi-compatibility
" remove change the following statements
augroup vimrcEx
  au BufRead * if line("'\"") > 0 && line("'\"") <= line("$") |
  \ exe "normal g`\"" | endif
augroup END

set backspace=2         " more powerful backspacing

filetype on
set enc=utf-8
set fenc=utf-8
set fencs=utf-8,iso-2022-jp,euc-jp,cp932

set autoindent
set ruler
set number
set showcmd
set nobackup
set undodir=/tmp
set backupdir=/tmp
set cursorline
set viminfo+=n/tmp/viminfo.txt

set expandtab
set tabstop=2
set softtabstop=2
set shiftwidth=2
set showmatch
set matchtime=15
set tabpagemax=100

set statusline=%<%f\ %m%r%h%w%{'['.(&fenc!=''?&fenc:&enc).']['.&ff.']'}%=%l,%c%V%8P

set title
set tag=./tags

set ignorecase
set smartcase
set laststatus=2

syntax enable
set background=dark
colorscheme solarized
let g:solarized_termcolors=256
