[user]
	name = {{ git_username }}
	email = {{ git_email }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
  editor = vim -c \"set fenc=utf-8\"
	ui = true
[alias]
  l = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
[core]
	autocrlf = false
	quotepath = false
[credential]
	helper = osxkeychain
